@font-face {
  font-family: 'jaapokki';
  src: url(fonts/jaapokki/regular/jaapokki-regular.otf)
}
/*Loader*/
.page {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}
.hiddenloader {
    opacity:0;
    visibility: hidden;
}
.container {
    z-index: 30;
    position: absolute;
top:0;
                left:0;
            background-color: #FCD1F7;
            height: 100vh;
            width: 100vw;
        }
        svg{
            position: relative;
            top:35vh;
            left:45vw;
            width: 30vh;
        }
.draw {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/****/
li,
h1,
h2 {
  font-family: 'jaapokki';
}

h1 {
  text-align: center;
}

/*Menu starts*/

.deskmenu {
  display: none;
}

ul>li {
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 100;
  font-size: 1.3em;
}

.appbar {
  background-color: rgba(252, 209, 247, .6);
  width: 100vw;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all .6s;
}

.appbar,
.menu,
.deskmenu {
  padding: 5px;
  position: fixed;
  margin: 0;
  z-index: 10;
}

.shadow {
  box-shadow: 0px 3px 6px rgba(68, 68, 68, 0.2);
}

.menu {
  width: 100vw;
  height: 140px;
  top: 50px;
  left: 0;
  margin: 0;
  text-align: right;
  transition: all 0.6s;
}

.menu.hidden {
  transform: translateX(100vw);
}

.menuIcon {
  float: right;
  height: 30px;
  margin-top: 10px;
  margin-right: 50px;
}

.menuIcon rect {
  fill: black;
  transition: all 0.6s;
}

.menuIcon rect:nth-child(1) {
  transform-origin: left top;
}

.menuIcon rect:nth-child(3) {
  transform-origin: left bottom;
}

.menuIcon rect.fadeOut {
  opacity: 0;
}

.menuIcon rect.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}

.menuIcon rect.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}

.menulogo {
  width: 15vw;
  top: 0;
  position: absolute;
}

/*Menu ends*/

.logo {
  width: 50vw;
  position: absolute;
  left: 20vw;
  top: 25vh;
}
#frontpage{
    height: 100vh;
}
.front {
  /* display: inline; */
  /* z-index: 10; */
  position: absolute;
  top: 50vh;
  left: 45vw;
  color: #1C3652;
  font-size: 3.5em;
  font-weight: 100;
}

/* #recent {
  position: absolute;
  top: 120vh;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
} */

/* #recent h1 {
  grid-column: 1/-1;
} */

.menuIcon,
.arrow {
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 15vw;
  top: 80vh;
  animation: down 3s ease infinite;
}

@keyframes down {
  50% {
    transform: translateY(3vh)
  }
  100% {
    transform: translateY(0)
  }
}

a {
  font-weight: 100;
  text-transform: lowercase;
  text-decoration: none;
  color: #1C3652;
  transition: all 2s;
}

#anim,
#anim-mobile {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
  opacity: .5;
}

#anim {
  display: none;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3em;
    padding-top: 3em;
  }
  #recentpiece {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }
  /*Menu starts*/
  .appbar,
  .menu,
  .deskmenu {
    padding: 3px;
  }
  .deskmenu {
    display: initial;
    top: 0;
    right: 0vw;
  }
  .deskmenu li {
    display: inline;
    padding: 2em;
    font-size: 1.3em;
  }
  .menulogo {
    width: 30vw;
  }
  .menuIcon,
  .menu {
    display: none;
  }
  /*Menu ends*/
  /* #recent {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
  } */
  form {
    padding-top: 150px;
  }
  .column_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1em;
    padding: 3em;
  }
  .gridimg {
    width: 100%;
    height: 50em
  }
  .arrow {
    top: 80vh;
    width: 8vw;
    height: 20vh;
    left: 43vw;
  }
  #anim {
    display: initial;
  }
  #anim-mobile {
    display: none;
  }
  #gallerylist {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 10em;
  }
}

@media (min-width: 1300px) {}
