@font-face {
  font-family: 'jaapokki';
  src: url(fonts/jaapokki/regular/jaapokki-regular.otf)
}
@font-face {
  font-family: 'print clearly';
  src: url(fonts/printclearly.otf)
}

body{
    margin:0;
    padding:0;
}
/*Loader*/
.svg{
   position: relative;
top:35vh;
left:45vw;
width: 30vh;
}
.page {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}
.hiddenloader {
    opacity:0;
    visibility: hidden; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}
.container {
    z-index: 30;
    position: absolute;
      top:0;
        left:0;
            background-color: #FCD1F7;
            height: 100vh;
            width: 100vw;
    transition: all .3s;
        }
.draw {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/****/
h1,
h2 {
  font-family: 'jaapokki';
    font-weight: 100;
}

h1 {
  text-align: center;
}
p{
    font-family: "print clearly";
}
/*Menu starts*/

.deskmenu {
  display: none;
}

ul>li {
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 1.3em;
}
.appbar, .menu{
  background-color: rgba(252, 209, 247, .8);
}
.appbar {
  width: 100vw;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all .6s;
}

.appbar,
.menu,
.deskmenu {
  padding: 5px;
  position: fixed;
  margin: 0;
  z-index: 10;
}

.dot {
    animation: down 2.5s ease infinite;
    position: absolute;
  top: 85vh;
    left:48vw;
  height: 50px;
  width: 50px;
  background-color: rgba(252, 209, 247, .8);
  border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.dot:hover{
    animation: 0;
}
.arrow{
    position: absolute;
    top:20%;
    left:30%;
    border: solid #1c3652;
    border-width: 0 3px 3px 0;
    padding: 8px;
      transform: rotate(45deg);
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu {
  width: 100vw;
  height: 150px;
  top: 50px;
  left: 0;
  margin: 0;
  text-align: left;
  transition: all 0.6s;
}

.menu.hidden {
  transform: translateX(100vw);
}

.menuIcon {
float: right;
top:0;
  height: 30px;
  margin-top: 10px;
  margin-right: 50px;
}

.menuIcon rect {
  fill: black;
  transition: all 0.6s;
}

.menuIcon rect:nth-child(1) {
  transform-origin: left top;
}

.menuIcon rect:nth-child(3) {
  transform-origin: left bottom;
}

.menuIcon rect.fadeOut {
  opacity: 0;
}

.menuIcon rect.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}

.menuIcon rect.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}

.menulogo {
  width: 30vw;
  top: 0;
margin-left:30px;
  position: absolute;
}

/*Menu ends*/

.logo {
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 25vh;
}
.front {
position: absolute;
    color: #1C3652;
    text-transform: lowercase;
  top: 40vh;
  left: 40vw;
  font-size: 3em;
}

#frontpage{
    height: 100vh;
}


/* #recent {
  position: absolute;
  top: 120vh;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
} */

/* #recent h1 {
  grid-column: 1/-1;
} */

.menuIcon,
.dot {
  cursor: pointer;
}


@keyframes down {
 0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5vh);
  }
  60% {
    transform: translateY(-3vh);
  }
}

a {
    font-family: 'print clearly';
    font-weight: 500;
  text-decoration: none;
  color: #1C3652;
  transition: all 2s;
}

#anim,
#anim-mobile {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
  opacity: .5;
}

#anim {
  display: none;
}

form {
    padding-top: 100px;
}

label {
    font-family: 'print clearly', sans-serif;
}

/* w3 schools */
input[type=text], select {
    width: 100%;
    height: 2em;
    border: none;
}

input[type=email] {
    width: 100%;
    height: 2em;
    border: none;
}

input[type=submit] {
    width: 100%;
    height: 3em;
    border: none;
    background-color: pink;
}

div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

textarea {
    resize: none;
    width: 100%;
    height: 20vh;
    border: none;
}

.thanks {
    background-color: rgba(252, 209, 247, 1)
}

.thanks div p {
    font-size: 2em;
    position: relative;
    left: 10px;
}

.thanks img {
    width: 60vw;
    position: relative;
    left: 15vw;
}

.thanks a {
    border-bottom: 2px solid black;
}

.regards {
    margin-bottom: 0;
}


@media (min-width: 768px) {
    .front {
  top: 50vh;
  left: 45vw;
  font-size: 4em;

}
    .logo {
  width: 50vw;
  position: absolute;
  left: 20vw;
  top: 25vh;
}
  h1 {
    font-size: 3em;
    padding-top: 3em;
  }
  #recentpiece {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }
  /*Menu starts*/
  .appbar,
  .menu,
  .deskmenu {
    padding: 3px;
  }
  .deskmenu {
    display: initial;
    top: 0;
    right: 0vw;
  }
  .deskmenu li {
    display: inline;
    padding: 2em;
    font-size: 1.3em;

  }
  .menulogo {
    width: 13vw;
  }
  .menuIcon,
  .menu {
    display: none;
  }
  /*Menu ends*/
  /* #recent {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
  } */
  form {
    padding-top: 150px;
  }
  .column_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1em;
    padding: 3em;
  }
  .gridimg {
    width: 100%;
    height: 50em
  }

  #anim {
    display: initial;
  }
  #anim-mobile {
    display: none;
  }
  #gallerylist {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 10em;
  }
}

@media (min-width: 1024px) {}
